@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url(../css/root.css);

.hero_bg {
    background-image: url(../images/png/bg-img.png);
    background-size: cover;
    background-position: center;
}

.ff_quick {
    font-family: 'Quicksand', sans-serif;
}

.ff_saira {
    font-family: 'Saira', sans-serif;
}

.ff_pop {
    font-family: 'Poppins', sans-serif;
}

.ff_quick {
    font-family: 'Quicksand', sans-serif;
}

.ff_inter {
    font-family: 'Inter', sans-serif;
}

.ff_oxanium {
    font-family: 'Oxanium', sans-serif;
}


/* =============font-weight============ */
.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

/* ==========line-height============ */
.lh-15 {
    line-height: 15px;
}

.lh_17 {
    line-height: 17px;
}

.lh-19 {
    line-height: 19px;
}

.lh_20 {
    line-height: 20px;
}

.lh-21 {
    line-height: 21px;
}

.lh-25 {
    line-height: 25px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-31 {
    line-height: 31px;
}

.lh-35 {
    line-height: 35px;
}

.lh_38 {
    line-height: 38px;
}

.lh-40 {
    line-height: 40px;
}

.lh-50 {
    line-height: 50px;
}

.lh-57 {
    line-height: 57px;
}


/* ===============sidenav==========- */
.gap_15 {
    gap: 15px;
}

.gap_13 {
    gap: 13.31px;
}

.gap_23 {
    gap: 23px;
}

.gap_30 {
    gap: 30px;
}

.mt_40 {
    margin-top: 40px;
}

.mr_3 {
    margin-right: 3.33px;
}

.ml_3 {
    margin-left: 3.33px;
}

.pr_12 {
    padding-right: 12px;
}

.pl_24 {
    padding-left: 24px;
}

.pl_10 {
    padding-left: 10px;
}

.py_28 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.max_w_256 {
    max-width: 256px;
}

.max_w_220 {
    max-width: 220px;
}

.dasbord_btn {
    padding: 13px 10px 16px 18.86px;
    max-width: 220px;
    border-radius: 16.64px;
    cursor: pointer;
}

.dasbord_btn:hover {
    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);
}

.dasbord_btn:hover .clr {
    color: var(--clr-white);
}

.dasbord_btn:hover svg path {
    fill: var(--clr-white);
}

.border_bottom {
    border-bottom: 1.11px solid var(--clr-Gry);
    margin: 40px 0 0 0;
}

.dark_mode_blue {
    width: 36.61px;
    height: 16.64px;
    border-radius: 15.53px;
    background: var(--clr-purpl);
    box-shadow: 0px 0px 5.55px 0px var(--clr-shadow) inset;
}

.dark_mode_white {
    width: 9.98px;
    height: 9.98px;
    border-radius: 50%;
    background: var(--clr-white);
    box-shadow: 0px 0px 1.11px 0px var(--clr-shadaowWhite);
}

.dropdown_modification {
    background: var(--clr-white);
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    position: relative;
    /* z-index: -1; */
    left: -143px;
}

#btnn.active.dropdown_modification {
    opacity: 1;
    /* z-index: 1; */
    position: relative;
}

.position_sidenav {
    /* z-index: -1; */
    left: 0;
}

/* ====================nav=================== */
.h_95 {
    height: 95px;
}

.gap_20 {
    gap: 20px;
}

.left_36 {
    left: 36%;
}

.right_2 {
    right: 2%;
}

.pl_270 {
    padding-left: 247px;
}

.pl_29 {
    padding-left: 29px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_30 {
    margin-top: 30px;
}

.input_modification {
    border-radius: 8px;
    padding: 11.09px 23.3px 11.09px 23.3px;
    min-height: 44px;
}

.border_none {
    border: none;
    outline: none;
}

.cross span:nth-child(1) {
    width: 20px;
    height: 4px;
    transition: all 300ms linear;
    position: relative;
    left: 38px;
}

.cross span:nth-child(2) {
    width: 40px;
    height: 4px;
    transition: 300ms;
    left: 20px;
}

.cross span:nth-child(3) {
    width: 20px;
    height: 4px;
    transition: all 300ms linear;
    position: relative;
    left: 18px;
}

/* ===========Top Auction========= */
.container_1260 {
    max-width: 1260px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.max_w_810 {
    max-width: 810px;
}

.max_w_453 {
    max-width: 453px;
}

.min_h_410 {
    min-height: 410px;
}

.gap_19 {
    gap: 19px;
}

.gap_9 {
    gap: 9px;
}

.gap_44 {
    gap: 44px;
}

.mt_28 {
    margin-top: 28px;
}

.mt_117 {
    margin-top: 117px;
}

.magic_padding {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 23px;
    padding-left: 25px;
}

/* .top_position {
    left: 11%;
    top: 20px;
}

.position_topBg_img {
    left: 17%;
    top: 80px;
} */

.top_bg_img {
    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);
    border-radius: 8px;
    width: 800px;
    width: 100%;
}

.btnn_modification {
    padding: 13px 27px;
    border: 1px solid var(--clr-white);
    background: transparent;
    border-radius: 8px;
    transition: all 0.2s linear;
}

.btnn_modification:hover {
    background: var(--clr-white);
    color: var(--clr-black);
}

/* ==========wallet-box========== */
.gap_90 {
    gap: 90px;
}

.gap_80 {
    gap: 80px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_25 {
    margin-bottom: 25px;
}

.mb_35 {
    margin-bottom: 35px;
}

.mb_17 {
    margin-bottom: 17px;
}

.wallet_box {
    /* width: 395px; */
    /* height: 402px; */
    /* border: 1.74px solid; */
    /* border-image: linear-gradient(142.65deg, #822946 12.89%, rgba(41, 42, 184, 0.9) 21.4%, #6A69C2 36.15%, rgba(138, 123, 128, 0.85) 70.29%, #000000 120.25%)1; */
    /* border-radius: 8px; */
    padding: 16px 16px 12px 17px;
    z-index: 1;

}

.wallet_box {
    position: relative;
}

.wallet_box::before {
    content: "";
    position: absolute;
    inset: 0;
    max-width: 395px;
    min-height: 402px;
    border-radius: 8px;
    padding: 1.74px;
    border-style: solid;
    border: 1.74px solid transparent;
    background: linear-gradient(142.65deg, #822946 12.89%, rgba(41, 42, 184, 0.9) 21.4%, #6A69C2 36.15%, rgba(138, 123, 128, 0.85) 70.29%, #000000 120.25%)border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    /* -webkit-mask-composite: xor; */
    mask-composite: exclude;
    z-index: -1;
}


/* ===================slider================ */
.gap_12 {
    gap: 12px;
}

.mt_22 {
    margin-top: 22px;
}

.mb_18 {
    margin-bottom: 18px;
}

.mb_13 {
    margin-bottom: 13px;
}

.mb_21 {
    margin-bottom: 21px;
}

.popular_btn {
    background: var(--clr-btngry);
    border-radius: 8px;
    width: 138.86px;
    height: 36px;
    padding: 7.5px 16px 7.5px 23.3px;
    border: 1px solid transparent;
}

.slider_btnBox {
    width: 36px;
    height: 36px;
    border: 1.11px solid var(--clr-borderGry);
    border-radius: 12px;
    transition: all 0.2s linear;
}

.slider_btnBox:hover {
    background: var(--clr-white18);
}

.slider_btnBox:hover svg path {
    fill: var(--clr-white);
}

.slider_box {
    position: relative;
    max-width: 242px;
    min-height: 383px;
    padding: 29px 22px 21px 24px;
    z-index: 1;
    margin-bottom: 22px;
}

.slider_box::before {
    content: "";
    position: absolute;
    inset: 0;
    max-width: 395px;
    /* min-height: 402px; */
    border-radius: 8px;
    padding: 1.74px;
    border-style: solid;
    border: 1.74px solid transparent;
    border: 1.74px solid;
    border-image: linear-gradient(141.79deg, #822946 10.72%, rgba(41, 42, 184, 0.9) 17.8%, #6A69C2 30.06%, rgba(138, 123, 128, 0.85) 58.45%, #000000 100%)1;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    /* -webkit-mask-composite: xor; */
    mask-composite: exclude;
    z-index: -1;
}

.slider_gridentbtn {
    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%)padding-box;
    max-width: 188px;
    min-height: 41px;
    padding: 8px 54px;
    border: 1px solid transparent;
    border-radius: 8px;
}

.slider_gridentbtn:hover {
    background: linear-gradient(65.58deg, rgba(235, 0, 27, 0.5) 98.75%, rgba(0, 66, 255, 0.5) -11.84%) padding-box;
}

/* .min_vh_100 {
    min-height: calc(100vh - 95px) !important;
} */


@media (max-width:991.99px) {
    .ps_0 {
        padding-left: 0;
    }

    .overFlowHidden {
        overflow: hidden;
    }

    .menulist {
        width: 60%;
        height: 100vh;
        height: 100%;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: black;
    }

    .menuIcon.show>span {
        top: -8px;
        left: -197%;
        position: relative;
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
        left: 108%;
        top: -39px;
    }

    .menuIcon>span {
        height: 3px;
        background: var(--clr-white);
        transition: all 300ms linear;
    }

    .max_w_288 {
        max-width: 288px;
    }

    .border_bottom {
        margin: 0 30px;
    }

    .ml_30 {
        margin-left: 30px;
    }
}

@media (min-width:992px) {
    .min_w_288 {
        min-width: 288px;
    }

    .color_lightblack {
        background: var(--clr-lightBlack);
    }
}

@media (min-width:768px) {
    /* .left_md_25 {
        left: 25%;
    } */

    .gap_md_48 {
        gap: 48px;
    }
}

@media (min-width:576px) {
    .left_sm_33 {
        left: 33%;
    }

    .pl_sm_45 {
        padding-left: 45px;
    }
}

@media (min-width:1200px) {
    /* .left_xxl_18 {
        left: 18%;
    } */
}

@media (min-width:1400px) {
    .overflowImageBox {
        position: absolute;
        transform: translate(-7%, 1%);
    }
}